%div.alert.alert-info.alert-block
  %p 
    Welcome to the Administrator Dashboard. Here you can control what happens 
    on <B>Freedom Tracker</B>. You can add sources, users, events,  
    control the webscraper, read feedback, and much more!
