%div.row-fluid
  %div.span6
    %h2 About The Project
    %p Freedom Tracker is a joint project between Freedom House and UC Berkeley students in the CS169 class. Its purpose is to scrape the web for hate speech between certain groups of interest and create a correlation between speech and violent hate events. We are using this platforz as a test of wether a web-based approach is even possible and if so, to one day extend the system to many groups; effectively creating an early warning system.
    
    %div.container
      = image_tag "berkeley.png"
      = image_tag "freedom_house.jpg"
  %div.span2
  %div.span4
    %h2 Sign in
    = form_tag user_session_path do
      %label{:for => "inputEmail"} Email
      %input#inputEmail{:placeholder => "Email", :type => "text", :name => "user[email]"}  
      %label{:for => "inputPassword"} Password        
      %input#inputPassword{:placeholder => "Password", :type => "password", :name => "user[password]"} 
        %label.checkbox
          %input{:type => "checkbox"}
            Remember me
        %button.btn{:type => "submit"} Sign in
