%body
  %div.row-fluid
    %h1 Event Map
    %h2 Articles
    %div.well
      %table.table.table-striped#article_table
        %thead
          %tr
            %th #
            %th Name
            %th Date
            %th Source
            %th Certainty
            %th Actions
        %tbody
          %tr
            %td
            %td
            %td
            %td
            %td
            %td
