/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
*= require bootstrap_and_overrides
ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline; 
}

div#login_box {
  background-color: white;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20em;
  border-radius: 5px;
  box-shadow: 0 2px 5px 3px rgba(0,0,0,0.25);
  margin-top: 100px
}

h1#Title {
  text-align: center;
  text-shadow: 0px 2px 6px #666;
  color: grey;
  text-transform:uppercase;
  font-size: 500%
}

body {
  /* IE10 Consumer Preview */ 
  background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #D1D1D1 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #D1D1D1 100%);

  /* Opera */ 
  background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #D1D1D1 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #FFFFFF), color-stop(1, #D1D1D1));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #D1D1D1 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #D1D1D1 100%);
}
