.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  margin-bottom: 60px;
}

.main2 {
  padding-top: 40px;
}
.carousel .container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 120px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
  height: 500px;
}
.carousel img {
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-bottom: 100px;
}

.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.container.marketing {
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
  vertical-align: middle;
}
