%ul.nav.nav-list.well
  %li
    %a{:href => admin_dashboard_path} Dashboard

  %li.nav-header Users
  %li
    %a{:href => admin_users_path} All Users
  %li
    %a{:href => admin_users_action_path(:new)} Create New

  %li.nav-header Sources
  %li
    %a{:href => admin_sources_path} All Sources
  %li
    %a{:href => admin_sources_action_path(:new)} Add Source

  %li.nav-header Articles
  %li
    %a{:href => admin_articles_path} All Articles
  %li
    %a{:href => admin_articles_action_path(:new)} Add Article

  %li.nav-header Events
  %li
    %a{:href => admin_dashboard_path} All Events
  %li
    %a{:href => admin_dashboard_path} Add Event
  %li
    %a{:href => admin_dashboard_path} Map

  %li.nav-header Webscraper
  %li
    %a{:href => admin_dashboard_path} Settings
  %li
    %a{:href => admin_dashboard_path} Keywords
  %li
    %a{:href => admin_dashboard_path} Overrides

  %li.nav-header Feedback
  %li
    %a{:href => admin_dashboard_path} Messages
