%li.dropdown-toggle{"data-toggle" => "dropdown"}= link_to "Account"
%ul.dropdown-menu
  %li
    %a{:href => user_profile_path}
      %i.icon-user
      Profile
  %li.divider
  %li
    %a{:href => destroy_user_session_path}
      %i.i
      Log Out
